<div id="home-search-container">
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="widget pull-right">
                
                	<div class="container">
                            <h2 class="head-title">Welcome to ClassCheck</h2>
                            <p class="head-message"><strong>ClassCheck is the best solution to keep track of course requirements.</strong><br />
                           
                            <%= link_to "Create a Course", new_course_path, class: "btn-custom" %> 
</div>
          
       
    </div>
    <!-- .span8  -->

    <!-- .span4  -->
</div>
</div>
</div>
</div>

