<!-- begin footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="footer-widget">
                            <h2 class="brand widget-title">ClassCHeck</h2>
                            <p class="footer-tag-line">Perfecting Participation</p>
                            <p>Keep track of your courses</p>
                        </div>
                        <!-- .footer-company-info -->
                    </div>
                    <!-- .span3 -->
                    <div class="span3">
                        <div class="footer-widget">
                            <h3 class="widget-title">Address</h3>
                            <div class="clearfix">
                                <ul>
                                    <li class="clearfix">
                                        <i class="icon-map-marker pull-left"></i>
                                        <p class="pull-left">Burnaby, BC
                                            <br />Canada</p></li>
                                    <li class="clearfix">
                                        <i class="icon-phone pull-left"></i>
                                        <p class="pull-left">phone number</p></li>
                                    <li class="clearfix">
                                        <i class="icon-envelope-alt pull-left"></i>
                                        <p class="pull-left"><a href="#">willmakeemail@gmail.com</a></p>
                                    </li>
                                </ul>
                            </div>
                            <!-- .clearfix -->
                        </div>
                        <!-- .footer-widget -->
                    </div>
                    <!-- .span3 -->
                    <div class="span3">
                        <div class="footer-widget">
                            <h3 class="widget-title">Company</h3>
                            <ul>
                                <li>
                                    <i class="icon-caret-right"></i>
                                    <a title="Home" href="#">Home</a></li>
                                <li>
                                    <i class="icon-caret-right"></i>
                                    <a title="About Us" href="#">About Us</a></li>
                                <li>
                                 
                                <li>
                                    <i class="icon-caret-right"></i>
                                    <a title="Contact Us" href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <!-- .footer-widget -->
                    </div>
    
                </div>
            </div>
        </footer>
         
        <!-- end footer -->